._2rw8rQNL {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    margin-right: 6px;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
    margin-bottom: -30px;
    touch-action: none;
    cursor: text;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 4px
}

._2rw8rQNL ::-moz-selection {
    background: transparent
}

._2rw8rQNL ::selection {
    background: transparent
}

._1Xd-N7Ut {
    display: inline-block;
    vertical-align: text-top;
    line-height: 1em;
    white-space: nowrap;
    margin: 0 1px;
    padding-right: 3px;
    box-sizing: border-box;
    position: relative;
    fill: #000;
    border-color: #000
}

._1ESgV7Xb {
    margin: 0 2px
}

.EgRGzBj3 {
    display: block;
    width: 100%;
    height: 30px
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        ._1Xd-N7Ut {
            line-height: 1.4em
        }
    }
}

._2LPH40Xv {
    background: #ccefff
}

.zcP2FRoh {
    white-space: pre-wrap
}

._2EO_5zzK {
    box-shadow: 0 0 .125rem .1875em rgba(101, 174, 212, .5);
    border-radius: .125rem
}

._31HGHgDI {
    box-shadow: 0 0 .125rem .1875em hsla(0, 0%, 73%, .3);
    border-radius: .125rem
}

._3pCUo3ns {
    background: hsla(0, 0%, 73%, .3)
}

._2pVm_tS- {
    border: 1px solid #cb1000
}

._2TModDLV {
    height: 120%;
    border-right: 1px solid;
    border-color: inherit;
    position: absolute;
    box-sizing: border-box;
    top: -.1em
}

._29QlgDY2 {
    height: 100%;
    display: inline-block;
    min-height: 1em;
    position: relative;
    width: 0
}

._1Wa2Tbgf {
    line-height: 1em;
    display: inline-block;
    text-decoration: inherit
}

.m9n5WnoU {
    padding: 0 .045em
}

._2LbKTL0I {
    padding: 0;
    margin-left: -.045em;
    margin-right: -.045em
}

._2LbKTL0I ._17lTIyPr>.m9n5WnoU:first-child {
    padding-left: 0
}

._2LbKTL0I ._17lTIyPr>.m9n5WnoU:last-child {
    padding-right: 0
}

.OAbbLMa1 {
    left: .045em
}

._2BPovWpa {
    left: -.045em
}

.cQJsYBXL {
    background-color: #fff8cb;
    border: 1px dashed #cacaca;
    font-style: italic;
    color: #7e7e7e;
    padding: 0 .2em;
    height: 1em;
    width: 1em;
    vertical-align: bottom
}

._3dL4pgM4 {
    background-color: #ffe6e6;
    border: 1px solid #cb1000
}

.DarhBIK_ {
    background-color: #ccefff;
    border-color: #5095ad
}

._3e2gnobf {
    background-color: #f6f6f6;
    border-color: #bbb
}

.MceTTCp- {
    display: inline-block
}

.MceTTCp- * {
    pointer-events: none
}

.zwkhjvGf {
    vertical-align: top
}

._3ODHbXpy * {
    fill: #dd3ed4
}

._17yz7Rr1 {
    -webkit-animation: LotGSMga 2s linear 0s 1;
    animation: LotGSMga 2s linear 0s 1
}

._3Xk6DUaz {
    vertical-align: middle
}

@-webkit-keyframes LotGSMga {
    0% {
        background-color: #a8ff36
    }

    99% {
        background-color: #a8ff36
    }

    to {
        background-color: transparent
    }
}

@keyframes LotGSMga {
    0% {
        background-color: #a8ff36
    }

    99% {
        background-color: #a8ff36
    }

    to {
        background-color: transparent
    }
}

._317oKOh9 {
    color: transparent;
    opacity: 0;
    padding: 0 3px;
    font-size: 1em;
    line-height: 1em;
    pointer-events: none;
    font-family: inherit;
    -webkit-touch-callout: none
}

._317oKOh9,
._3xmJdqc3 {
    border: none;
    background: transparent;
    outline: none;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0
}

._3xmJdqc3 {
    width: 0;
    height: 0;
    overflow: hidden
}

._1eq0F7NS {
    background: #ccefff
}

._1G53ESyj {
    background: hsla(0, 0%, 73%, .3)
}

._2kTf3XMX {
    display: inline-block;
    text-align: center;
    vertical-align: -.5em
}

._1hl400tZ {
    display: block;
    width: 100%;
    float: right;
    border-top: 1px solid;
    border-color: inherit;
    padding-top: .21875em
}

.J4VlWSEV {
    padding-bottom: .21875em;
    display: block
}

._1sUCcIgE {
    display: inline-block;
    width: 0;
    text-decoration: none
}

._13nr6RMd {
    display: inline-block;
    position: relative
}

._1zgGBVjB {
    font-size: .61em;
    margin-right: -.6em;
    vertical-align: .8em
}

._3OR2vCiR {
    display: inline-block;
    vertical-align: top;
    transform-origin: top;
    position: relative
}

._24WRaBL_ {
    border-top: 1px solid;
    border-color: inherit;
    padding: .1em .095em 0;
    display: inline-block;
    margin-left: -.041em
}

._3jW-bVFg {
    padding-left: .005em
}

._1nwrJH6F {
    margin-left: 1px
}

.fbCzBhlY {
    margin-right: .03125em
}

.NJq9bP9G {
    vertical-align: .5em
}

.QR0z0kLe {
    margin-left: .4em
}

._3x4EoeQs {
    font-size: .7em;
    right: -2px
}

._2XExxhNN,
._3x4EoeQs {
    font-weight: 700;
    position: absolute;
    top: 2px;
    line-height: 0
}

._2XExxhNN {
    font-size: .9em;
    right: -1px
}

._1A5nMNj0 {
    display: inline-block
}

._3ZS08-8Y {
    padding-right: 5px;
    position: relative
}

._1VDmCGHu {
    padding-left: .09em;
    padding-right: .15em
}

._1Fyde08L {
    width: 8px
}

.NMJQ6cnR {
    display: inline-table;
    text-align: center
}

.F5m6yxth {
    display: table-row
}

._18FPvp7T {
    display: table-cell
}

._3KHAdSLj {
    display: inline-block;
    vertical-align: middle
}

._2b83-6Ix {
    display: inline-flex;
    flex-direction: column
}

._3kTNgZ7c {
    display: inline-block;
    margin-bottom: .5em
}

._1Ao2uyNt {
    margin-bottom: 0
}

._1IwDXKsy {
    margin-left: .5em
}

._1d-pAauE {
    vertical-align: top
}

.bD82jBJh {
    border-left: 1px solid;
    border-right: 1px solid;
    padding-left: .09em;
    padding-right: .09em
}

._3E89JpkM {
    font-style: italic;
    padding: 0 .225em
}

._3VDShvn8 {
    margin-right: .25em;
    display: inline-block
}

._3oc5_kMd,
.wCrM3Sov {
    display: block
}

.wCrM3Sov {
    float: left
}

._10TGCgxz+._10TGCgxz {
    margin-left: .35em
}

.nn5weWDf {
    margin-left: .2em
}

._8gkJC7eJ {
    display: inline-block;
    vertical-align: middle
}

.vDL0_22e {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.hOL32MZ6+.hOL32MZ6 {
    margin-top: .5em
}

._1uP19dQh {
    display: inline-block;
    vertical-align: middle
}

._2-1mcUX7 {
    display: inline-flex;
    flex-direction: column
}

.LWueGDjw+.LWueGDjw {
    margin-top: .5em
}

.aQXLQmAv {
    display: inline-table;
    border-collapse: collapse
}

._3G0jc1Yu {
    display: table-row
}

._3G0jc1Yu+._3G0jc1Yu {
    border-top: .5em solid transparent
}

.UWkI9Efx {
    display: table-cell;
    text-align: center
}

.UWkI9Efx+.UWkI9Efx {
    border-left: .5em solid transparent
}

._2yPy0o2v {
    vertical-align: middle;
    margin-top: 6px
}

._3T62XYKJ {
    vertical-align: middle;
    margin-top: .2em
}

._2aFtj3ok {
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 2px;
    font-size: .7em
}

.CjxIst4N {
    padding-left: .3em;
    padding-right: .3em
}

._2xj0IAsT {
    vertical-align: middle
}

._1hU0M4hK,
._2xj0IAsT {
    margin-left: .2em
}

._3QZ-PfSg {
    margin-left: .1875em
}

._3Qg5Vep- {
    width: auto
}

._1DD_-ipr {
    display: inline-flex;
    flex-direction: column;
    align-items: center
}

.S9vJoRY6 {
    padding: 5px 0;
    line-height: 0
}

._1puNoxYz {
    display: block
}

._1mPdNoRA {
    position: relative
}

._13Kpd3Ty {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

._2jtpR3wk {
    width: auto
}

.OeSiTezY {
    width: 8px
}

._2YjU7SXn {
    position: relative
}

._1X1XjFX0 {
    position: absolute;
    height: 100%;
    border-right: 1px solid;
    padding-right: .09em
}

.xCYzsPHt {
    margin-left: .5em
}

._2NTyJdha {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    line-height: 1em;
    white-space: nowrap
}

._10IeEgdA {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden
}