/* .weixin{
	position:relative;
  }
.weixin::after{
   content: url(/img/tanner-unsplash.jpg);
   position: absolute;
   right: -25px;
   top: -139px;
   z-index: 99;
   width:130px;
   height: 130px;
   border: 1px solid #949899;
   border-radius: 4px;
   transform-origin: top right;
   transform: scale(0);
   opacity: 0;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 .weixin:hover::after{
   transform:scale(1);
   opacity: 1;
 } */


 .a-line {
	white-space: nowrap;
	margin: 0 auto;
	min-width: 755px;
	left: 30px;
	right: 30px
}

.a-line__center,.a-line__mfooter {
	position: absolute;
	text-align: center
}

.a-line__mfooter {
	/* top: 20px */
	margin-top: 15px;
}

.a-line__mfooter>.a-inline {
	line-height: 1
}

.a-mfooter__item {
	margin: 0 8px;
	color: #E0E0E0;
	font-size: 14px;
	text-decoration: none;
	max-height: 999999px
}


.b-line {
	white-space: nowrap;
	margin: 0 auto;
	min-width: 755px;
	left: 30px;
	right: 30px
}

.b-line__center,.b-line__mfooter {
	position: absolute;
	text-align: center
}

.b-line__mfooter {
	bottom: 20px
}

.b-line__mfooter>.b-inline {
	line-height: 1
}


.mfooter__item {
	margin: 0 8px;
	color: #999;
	text-decoration: none;
	max-height: 999999px
}

#time{
	color:#539BF5;
}

#lil:hover{
	color:#539BF5;
}

a:hover{
	color:#539BF5;
}


#sub_one:hover{
	color:#539BF5;
}


#ppp{
	color: #539BF5;
}

.fruits{
	margin-top: 90px;
	margin-bottom: 10px;
}

.fruits img{
	margin-left: 5%;
	margin-right: 5%;
}

body{
	/* background: url("img/tanner-unsplash.jpg") no-repeat center fixed;
                -webkit-background-size: cover;
                -o-background-size: cover;                
                background-size: cover; */
	/* background:#000;  */
	color: #5B5B5B;
}
a{
	color: #D0D0D0;
	text-decoration: none;
}
#pp{

	color: #D0D0D0;
}
#lill{
	color: #539BF5 ;
}

a.a_text:hover { 
	font-size:25px;
}


img:hover{
	transform: scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-o-transform:scale(1.5,1.5);
	
}

.item:hover{
	transform: scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05);
	-moz-transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
	-o-transform:scale(1.05,1.05);
	background: #626462;
	color:#539BF5
}


/* .search2_type_2021:hover{
	transform: scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05);
	-moz-transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
	-o-transform:scale(1.05,1.05);
	background: #626462; 
	font-size: 25px;
	font: bold;
} */


/* 
 background-color:transparent;
@media screen and (max-width:1229px) {
	.container__tabs .tabs {
		margin-left: 140px
	}

	.container__tabs .tabs__link {
		padding: 0 24px
	}

	.container__tabs .b-tabs__item_extra {
		display: none
	}

	.container__tabs_size_widest .tabs__link {
		padding: 0 20px
	}
} */

.main {
	/* background: url("/img/tanner-unsplash.jpg") no-repeat center center fixed;*/
	/*兼容浏览器版本*/
	-webkit-background-size: cover;
	-o-background-size: cover;                
	background-size: cover;
	max-width: 30%;
	margin: 0 auto
}	

/* @media screen and (max-width:1199px) {

	.container__tabs .tabs__link,.container__tabs_size_widest .tabs__link {
		padding: 0 22px
	}
} */

/* @media screen and (max-width:1139px) {
	.container__tabs .tabs__link,.container__tabs_size_widest .tabs__link {
		padding: 0 20px
	}
}

@media screen and (max-width:1050px) {
	.b-page_com .tabs__link {
		padding: 0 18px
	}
} */
/* @media screen and (min-width: 0px) and (max-width:768px) {
	.container__tabs .tabs__link,.container__tabs_size_widest .tabs__link {
		padding: 0 9px
	}
	.b-page_com .tabs__link {
		padding: 0 9px
	}
	
} */


/* 大屏幕（大于等于1200px） */
@media screen and (min-width: 1000px)  {
	 
	*{
		margin: 0;
		padding: 0;
	}

	#h2_ti {
		margin-top: 30px;
		margin-bottom: 20px;
		animation-name: change;
		font-size: 30px;
		animation-duration: 8s;
		animation-iteration-count: infinite
	}


	.webbox {
		position : absolute;
		width : 100%;
		height : 100%;
		background:transparent;
	}

	.sub_webbox{
		margin-left: 10%; 
		margin-right: 10%; 
		/* font-size: 12px; */
		/* color: #24292e; */
		font-family:Microsoft Yahei;
		/* overflow: hidden; */
		background: transparent;

		/* flex-flow: row wrap; */
		/* align-content: flex-start; */

		/*
		display: flex;
		justify-content: center;
		align-items: center;
		*/
		/* padding-top: 20px; */
		padding-bottom: 20px;
	}

	/* #sub_one a div{
		font-weight:bold;
		color:#5db863;
	} */
	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	#engineer{
		font-weight:bold;
		color:cadetblue;
	}

	/* #sub_one div{
		background-color:#347D39;
	} */


	#sub_one{
		margin-right: 6px;
		/* margin-left: 10px; */
		width: 20%;
	}

	
	#sub_two{
		margin-right: 8px;
		width: 20%;
		
	}
	#sub_three{
		margin-right:  8px;
		width: 20%;
		
	}
	#sub_four{
		margin-right: 8px;
		width: 20%;
		
	}
	#sub_five{
		margin-right: 8px;
		width: 20%;
		
	}

	.container{
		background: transparent;
		margin-top: 35px;
		display: flex;
	}


	/*调整item*/
	.item {
		width: 85%;
		height: 20px;
		border: 1px solid #45484C;
		/* box-shadow: 1px 2px 3px #f2f6f8; */
		border-radius: 5px;
		background: #45484C;
		/* background: #234E65; */

		padding: 9px;
		margin-top:10px;
		/* margin: 10px 0 0 2.5%; */
		float: left;
		/* font-weight: 300; */
		color: #E0E0E0;
		font-size: 16px;
		word-break:keep-all;    
		white-space:nowrap;     
		overflow:hidden;       
		text-overflow:ellipsis; 
		text-align:left;
		vertical-align: middle;
	}

	
	#img_index {
		/* padding: 3px; */
		width: 30px;
		height: 30px;
		/* border-radius: 30%; */
		vertical-align: middle;
		margin-bottom: 20px;
	}

	img {
		padding: 3px;
		width: 25px;
		height: 25px;
		border-radius: 30%;
		vertical-align: middle;
	}

	.toolbox{
		margin-left: 6%; 
		margin-right: 6%; 
		font-family:Microsoft Yahei;
		overflow: hidden;
		/* background: #FF9D6F; */
		/* padding-bottom: 20px;
		padding-top: 20px; */
		padding-bottom: 48px;
	}

	.tablebox {
		font-family:Microsoft Yahei;
		/* overflow: hidden; */
		/* padding-bottom: 20px;
		padding-top:20px; */
	}

		
	#sub_one_tool{
		margin-left: 12px;
		width: 16.6%;
		
	}
	#sub_two_tool{
		margin-left: 12px;
		width: 16.67%;
		
	}
	#sub_three_tool{
		margin-left: 12px;
		width: 16.67%;
		
	}
	#sub_four_tool{
		margin-left: 12px;
		width: 16.67%;
		
	}
	#sub_five_tool{
		margin-left: 12px;
		width: 16.6%;
		
	}

	#sub_six_tool{
		margin-left: 12px;
		width: 16.6%;
		
	}

	.container_tool{
		/* background-color: lawngreen; */
		display: flex;
	}

	li{
		list-style-type: none;
		color: #D0D0D0;
	}
	
	ul{
		position:absolute;
		/* text-align:center; */
		margin: auto;
		
	}
	

	.logo{
		width: 100%;
		height: 100%;
		margin: -8px 18px 0 0;
		background-image: url(logo.png);
		/* width: 107px;
		height: 53px; */
		vertical-align:middle;
		float: left;
	}
	.search-form{
		float: left;
		background-color: #fff;
		padding: 5px;
	}
	.search-input-text{
		border:0;
		padding:0;
		float:left;
		height:25px;
		line-height:25px;
		outline:none;
		width: 350px;
	}
	.search-input-button{
		border:0;
		background-image: url(search-button.png);
		width: 29px;
		height: 29px;
		float: left;
	}


	.search2 {
		display: inline-table;
		border-collapse: collapse;
		/* width: 500%; */
	}
	
	.search2__input {
		width: 100%
	}
	
	.search2 {
		display: table;
		max-width: none
	}
	
	.search2__input {
		vertical-align: top
	}
	
	.search2__button,.search2__input {
		display: table-cell
	}
	.search2_type_2021 {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		background: #367F3B;
		border-radius: .625rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		/* width: 2.5rem; */
		padding-right: .6875rem;
		padding-left: .125rem;
		width: 99.5%;
		background-size: 100% auto
	}

	.container{
		background: transparent;
		margin-top: 35px;
		width: 100%;
	}
	
}
/* 中等屏幕（大于等于992px） */
@media screen and (min-width: 850px) and (max-width:1000px){
	 
		*{
			margin: 0;
			padding: 0;
		}
	
		#h2_ti {
			margin-top: 30px;
			margin-bottom: 20px;
			animation-name: change;
			font-size: 30px;
			animation-duration: 8s;
			animation-iteration-count: infinite
		}
	
	
		.webbox {
			position : absolute;
			width : 100%;
			height : 100%;
			background:transparent;
		}
	
		.sub_webbox{
			margin-left: 10%; 
			margin-right: 10%; 
			/* font-size: 12px; */
			/* color: #24292e; */
			font-family:Microsoft Yahei;
			/* overflow: hidden; */
			background: transparent;
	
			/* flex-flow: row wrap; */
			/* align-content: flex-start; */
	
			/*
			display: flex;
			justify-content: center;
			align-items: center;
			*/
			/* padding-top: 20px; */
			padding-bottom: 20px;
		}
	
		/* #sub_one a div{
			font-weight:bold;
			color:#5db863;
		} */
		
		.list_title{
			font-weight:bold;
			color:#22ac2b;
		}
	
		#engineer{
			font-weight:bold;
			color:cadetblue;
		}
	
		/* #sub_one div{
			background-color:#347D39;
		} */
	
	
		#sub_one{
			margin-right: 6px;
			/* margin-left: 10px; */
			width: 20%;
		}
	
		
		#sub_two{
			margin-right: 8px;
			width: 20%;
			
		}
		#sub_three{
			margin-right:  8px;
			width: 20%;
			
		}
		#sub_four{
			margin-right: 8px;
			width: 20%;
			
		}
		#sub_five{
			margin-right: 8px;
			width: 20%;
			
		}
	
		.container{
			background: transparent;
			margin-top: 35px;
			display: flex;
		}
	
	
		/*调整item*/
		.item {
			width: 70%;
			height: 20px;
			border: 1px solid #45484C;
			/* box-shadow: 1px 2px 3px #f2f6f8; */
			border-radius: 5px;
			background: #45484C;
			padding: 9px;
			margin-top:10px;
			/* margin: 10px 0 0 2.5%; */
			float: left;
			/* font-weight: 300; */
			color: #E0E0E0;
			font-size: 16px;
			word-break:keep-all;    
			white-space:nowrap;     
			overflow:hidden;       
			text-overflow:ellipsis; 
			text-align:left;
			vertical-align: middle;
		}
	
		
		#img_index {
			/* padding: 3px; */
			width: 30px;
			height: 30px;
			/* border-radius: 30%; */
			vertical-align: middle;
			margin-bottom: 20px;
		}
	
		img {
			padding: 3px;
			width: 25px;
			height: 25px;
			border-radius: 30%;
			vertical-align: middle;
		}
	
		.toolbox{
			margin-left: 6%; 
			margin-right: 6%; 
			font-family:Microsoft Yahei;
			overflow: hidden;
			/* background: #FF9D6F; */
			/* padding-bottom: 20px;
			padding-top: 20px; */
			padding-bottom: 48px;
		}
	
		.tablebox {
			font-family:Microsoft Yahei;
			/* overflow: hidden; */
			/* padding-bottom: 20px;
			padding-top:20px; */
		}
	
			
		#sub_one_tool{
			margin-left: 12px;
			width: 16.6%;
			
		}
		#sub_two_tool{
			margin-left: 12px;
			width: 16.67%;
			
		}
		#sub_three_tool{
			margin-left: 12px;
			width: 16.67%;
			
		}
		#sub_four_tool{
			margin-left: 12px;
			width: 16.67%;
			
		}
		#sub_five_tool{
			margin-left: 12px;
			width: 16.6%;
			
		}
	
		#sub_six_tool{
			margin-left: 12px;
			width: 16.6%;
			
		}
	
		.container_tool{
			/* background-color: lawngreen; */
			display: flex;
		}
	
		li{
			list-style-type: none;
			color: #D0D0D0;
		}
		
		ul{
			position:absolute;
			/* text-align:center; */
			margin: auto;
			
		}
		
	
		.logo{
			width: 100%;
			height: 100%;
			margin: -8px 18px 0 0;
			background-image: url(logo.png);
			/* width: 107px;
			height: 53px; */
			vertical-align:middle;
			float: left;
		}
		.search-form{
			float: left;
			background-color: #fff;
			padding: 5px;
		}
		.search-input-text{
			border:0;
			padding:0;
			float:left;
			height:25px;
			line-height:25px;
			outline:none;
			width: 350px;
		}
		.search-input-button{
			border:0;
			background-image: url(search-button.png);
			width: 29px;
			height: 29px;
			float: left;
		}

		.search2 {
			display: inline-table;
			border-collapse: collapse
		}
		
		.search2__input {
			width: 100%
		}
		
		.search2 {
			display: table;
			max-width: none
		}
		
		.search2__input {
			vertical-align: top
		}
		
		.search2__button,.search2__input {
			display: table-cell
		}
		.search2_type_2021 {
			position: relative;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			background: #367F3B;
			border-radius: .625rem;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			/* width: 2.5rem; */
			padding-right: .6875rem;
			padding-left: .125rem;
			width: 98%;
			background-size: 100% auto
		}

		.container{
			background: transparent;margin-top: 35px;
			margin-top: 35px;
			width: 100%;
		}
}

/* 小屏幕 */
@media screen and (min-width: 750px) and (max-width:850px) {

	.webbox{
		width: 100%;
		height: 100%;
		/* margin-right: 10px;
		margin-left: 10px; */
	}

	#h2_ti {
		margin-top: 25px;
		margin-bottom: 20px;
		animation-name: change;
		font-size: 20px;
		animation-duration: 8s;
		animation-iteration-count: infinite
	}

	/*调整item*/
	.item {
		width: 10%;
		height: 30px;
		border: 1px solid #45484C;
		/* box-shadow: 1px 2px 3px #f2f6f8; */
		border-radius: 5px;
		background: #45484C;
		padding: 5px;
		margin: 5px 0 0 2.5%;
		float: left;
		/* font-weight: 300; */
		color: #E0E0E0;
		font-size: 12px;
		word-break:keep-all;    
		white-space:nowrap;     
		overflow:hidden;       
		text-overflow:ellipsis; 
		text-align:left;
		vertical-align: middle;
		/* height: 3px; */
		/* text-overflow: ellipsis */
	}

		

	

	/* .sub_box{
		width: 100%;
		height: 100%;
		table-layout: fixed;

	} */

	/* #sub_div{
		position:absolute;
	}*/

	
	/* .tool_item {
		width: 20%;
		
	} */

	#sub_one a div{
		/* font-weight:bold; */
		color:#22ac2b;
	}
	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	#engineer{
		font-weight:bold;
		color:cadetblue;
	}
	
	img {
		visibility: hidden;
		/* padding: 5px; */
		width: 0.1px;
		height: 0.1px;
		/* border-radius: 1%; */
		vertical-align: middle;
	}

	#sub_one_tool{
		margin-left: 3px;
		width: 18%;
		
	}
	#sub_two_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_three_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_four_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_five_tool{
		margin-left: 3px;
		width:18%;
		
	}

	#sub_six_tool{
		margin-left: 3px;
		width:18%;
		
	}

	.container_tool{
		display:flex;

	}


	.toolbox{
		width: 100%;
		height: 100%;
		/* margin-right: 3px;
		margin-left: 3px; */
		/* margin-right: 120px; */
		font-family:Microsoft Yahei;
		overflow: hidden;
		/* background: #FF9D6F; */
		/* padding-bottom: 20px;
		padding-top: 20px; */
		padding-bottom: 5px;
	}

	.logo_tool{
		font-size: 10px;
	}


	li{
		list-style-type: none;
		color: #D0D0D0;
	}
	
	ul{
		position:absolute;
		/* text-align:center; */
		margin: auto;
		
	}
	

	.search2 {
		display: inline-table;
		border-collapse: collapse
	}
	
	.search2__input {
		width: 100%
	}
	
	.search2 {
		display: table;
		max-width: none
	}
	
	.search2__input {
		vertical-align: top
	}
	
	.search2__button,.search2__input {
		display: table-cell
	}
	.search2_type_2021 {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		background: #367F3B;
		border-radius: .625rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		/* width: 2.5rem; */
		padding-right: .6875rem;
		padding-left: .125rem;
		width: 88%;
		background-size: 100% auto
	}
	
	.container{
		background: transparent;
		margin-top: 35px;
		width: 90%;
	}

}

@media screen and (min-width: 550px) and (max-width:750px) {

	.webbox{
		width: 100%;
		height: 100%;
		/* margin-right: 10px;
		margin-left: 10px; */
	}

	#h2_ti {
		margin-top: 25px;
		margin-bottom: 20px;
		animation-name: change;
		font-size: 20px;
		animation-duration: 8s;
		animation-iteration-count: infinite
	}

	/*调整item*/
	.item {
		width: 10%;
		height: 30px;
		border: 1px solid #45484C;
		/* box-shadow: 1px 2px 3px #f2f6f8; */
		border-radius: 5px;
		background: #45484C;
		padding: 5px;
		margin: 5px 0 0 2.5%;
		float: left;
		/* font-weight: 300; */
		color: #E0E0E0;
		font-size: 12px;
		word-break:keep-all;    
		white-space:nowrap;     
		overflow:hidden;       
		text-overflow:ellipsis; 
		text-align:left;
		vertical-align: middle;
		/* height: 3px; */
		/* text-overflow: ellipsis */
	}

		

	

	/* .sub_box{
		width: 100%;
		height: 100%;
		table-layout: fixed;

	} */

	/* #sub_div{
		position:absolute;
	}*/

	
	/* .tool_item {
		width: 20%;
		
	} */

	#sub_one a div{
		/* font-weight:bold; */
		color:#22ac2b;
	}
	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	#engineer{
		font-weight:bold;
		color:cadetblue;
	}
	
	img {
		visibility: hidden;
		/* padding: 5px; */
		width: 0.1px;
		height: 0.1px;
		/* border-radius: 1%; */
		vertical-align: middle;
	}

	#sub_one_tool{
		margin-left: 3px;
		width: 18%;
		
	}
	#sub_two_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_three_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_four_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_five_tool{
		margin-left: 3px;
		width:18%;
		
	}

	#sub_six_tool{
		margin-left: 3px;
		width:18%;
		
	}

	.container_tool{
		display:flex;

	}


	.toolbox{
		width: 100%;
		height: 100%;
		/* margin-right: 3px;
		margin-left: 3px; */
		/* margin-right: 120px; */
		font-family:Microsoft Yahei;
		overflow: hidden;
		/* background: #FF9D6F; */
		/* padding-bottom: 20px;
		padding-top: 20px; */
		padding-bottom: 5px;
	}

	.logo_tool{
		font-size: 10px;
	}


	li{
		list-style-type: none;
		color: #D0D0D0;
	}
	
	ul{
		position:absolute;
		/* text-align:center; */
		margin: auto;
		
	}
	

	.search2 {
		display: inline-table;
		border-collapse: collapse
	}
	
	.search2__input {
		width: 100%
	}
	
	.search2 {
		display: table;
		max-width: none
	}
	
	.search2__input {
		vertical-align: top
	}
	
	.search2__button,.search2__input {
		display: table-cell
	}
	.search2_type_2021 {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		background: #367F3B;
		border-radius: .625rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		/* width: 2.5rem; */
		padding-right: .6875rem;
		padding-left: .125rem;
		width: 70%;
		background-size: 100% auto
	}
	
	.container{
		background: transparent;
		margin-top: 35px;
		width:80%;
	}

}


/* 小屏幕 */
@media screen and (min-width: 450px) and (max-width:550px) {

	.webbox{
		width: 100%;
		height: 100%;
		/* margin-right: 10px;
		margin-left: 10px; */
	}

	#h2_ti {
		margin-top: 25px;
		margin-bottom: 20px;
		animation-name: change;
		font-size: 20px;
		animation-duration: 8s;
		animation-iteration-count: infinite
	}

	/*调整item*/
	.item {
		width: 10%;
		height: 30px;
		border: 1px solid #45484C;
		/* box-shadow: 1px 2px 3px #f2f6f8; */
		border-radius: 5px;
		background: #45484C;
		padding: 5px;
		margin: 5px 0 0 2.5%;
		float: left;
		/* font-weight: 300; */
		color: #E0E0E0;
		font-size: 12px;
		word-break:keep-all;    
		white-space:nowrap;     
		overflow:hidden;       
		text-overflow:ellipsis; 
		text-align:left;
		vertical-align: middle;
		/* height: 3px; */
		/* text-overflow: ellipsis */
	}

		

	

	/* .sub_box{
		width: 100%;
		height: 100%;
		table-layout: fixed;

	} */

	/* #sub_div{
		position:absolute;
	}*/

	
	/* .tool_item {
		width: 20%;
		
	} */

	#sub_one a div{
		/* font-weight:bold; */
		color:#22ac2b;
	}
	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	#engineer{
		font-weight:bold;
		color:cadetblue;
	}
	
	img {
		visibility: hidden;
		/* padding: 5px; */
		width: 0.1px;
		height: 0.1px;
		/* border-radius: 1%; */
		vertical-align: middle;
	}

	#sub_one_tool{
		margin-left: 3px;
		width: 18%;
		
	}
	#sub_two_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_three_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_four_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_five_tool{
		margin-left: 3px;
		width:18%;
		
	}

	#sub_six_tool{
		margin-left: 3px;
		width:18%;
		
	}

	.container_tool{
		display:flex;

	}


	.toolbox{
		width: 100%;
		height: 100%;
		/* margin-right: 3px;
		margin-left: 3px; */
		/* margin-right: 120px; */
		font-family:Microsoft Yahei;
		overflow: hidden;
		/* background: #FF9D6F; */
		/* padding-bottom: 20px;
		padding-top: 20px; */
		padding-bottom: 5px;
	}

	.logo_tool{
		font-size: 10px;
	}


	li{
		list-style-type: none;
		color: #D0D0D0;
	}
	
	ul{
		position:absolute;
		/* text-align:center; */
		margin: auto;
		
	}
	

	.search2 {
		display: inline-table;
		border-collapse: collapse
	}
	
	.search2__input {
		width: 100%
	}
	
	.search2 {
		display: table;
		max-width: none
	}
	
	.search2__input {
		vertical-align: top
	}
	
	.search2__button,.search2__input {
		display: table-cell
	}
	.search2_type_2021 {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		background: #367F3B;
		border-radius: .625rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		/* width: 2.5rem; */
		padding-right: .6875rem;
		padding-left: .125rem;
		width: 60%;
		background-size: 100% auto
	}
	
	.container{
		background: transparent;
		margin-top: 35px;
		width: 66%;
	}

}

/* 小屏幕 */
@media screen and (min-width: 0px) and (max-width:450px) {

	.webbox{
		width: 100%;
		height: 100%;
		/* margin-right: 10px;
		margin-left: 10px; */
	}

	#h2_ti {
		margin-top: 25px;
		margin-bottom: 20px;
		animation-name: change;
		font-size: 20px;
		animation-duration: 8s;
		animation-iteration-count: infinite
	}

	/*调整item*/
	.item {
		width: 10%;
		height: 30px;
		border: 1px solid #45484C;
		/* box-shadow: 1px 2px 3px #f2f6f8; */
		border-radius: 5px;
		background: #45484C;
		padding: 5px;
		margin: 5px 0 0 2.5%;
		float: left;
		/* font-weight: 300; */
		color: #E0E0E0;
		font-size: 12px;
		word-break:keep-all;    
		white-space:nowrap;     
		overflow:hidden;       
		text-overflow:ellipsis; 
		text-align:left;
		vertical-align: middle;
		/* height: 3px; */
		/* text-overflow: ellipsis */
	}

		

	

	/* .sub_box{
		width: 100%;
		height: 100%;
		table-layout: fixed;

	} */

	/* #sub_div{
		position:absolute;
	}*/

	
	/* .tool_item {
		width: 20%;
		
	} */

	#sub_one a div{
		/* font-weight:bold; */
		color:#22ac2b;
	}
	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	
	.list_title{
		font-weight:bold;
		color:#22ac2b;
	}

	#engineer{
		font-weight:bold;
		color:cadetblue;
	}
	
	img {
		visibility: hidden;
		/* padding: 5px; */
		width: 0.1px;
		height: 0.1px;
		/* border-radius: 1%; */
		vertical-align: middle;
	}

	#sub_one_tool{
		margin-left: 3px;
		width: 18%;
		
	}
	#sub_two_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_three_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_four_tool{
		margin-left: 3px;
		width:18%;
		
	}
	#sub_five_tool{
		margin-left: 3px;
		width:18%;
		
	}

	#sub_six_tool{
		margin-left: 3px;
		width:18%;
		
	}

	.container_tool{
		display:flex;

	}


	.toolbox{
		width: 100%;
		height: 100%;
		/* margin-right: 3px;
		margin-left: 3px; */
		/* margin-right: 120px; */
		font-family:Microsoft Yahei;
		overflow: hidden;
		/* background: #FF9D6F; */
		/* padding-bottom: 20px;
		padding-top: 20px; */
		padding-bottom: 5px;
	}

	.logo_tool{
		font-size: 10px;
	}


	li{
		list-style-type: none;
		color: #D0D0D0;
	}
	
	ul{
		position:absolute;
		/* text-align:center; */
		margin: auto;
		
	}
	

	.search2 {
		display: inline-table;
		border-collapse: collapse
	}
	
	.search2__input {
		width: 100%
	}
	
	.search2 {
		display: table;
		max-width: none
	}
	
	.search2__input {
		vertical-align: top
	}
	
	.search2__button,.search2__input {
		display: table-cell
	}
	.search2_type_2021 {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		background: #367F3B;
		border-radius: .625rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		/* width: 2.5rem; */
		padding-right: .6875rem;
		padding-left: .125rem;
		width: 60%;
		background-size: 100% auto
	}
	
	.container{
		background: transparent;
		margin-top: 35px;
		width: 65%;
	}

}



.input {
	position: relative;
	display: inline-block;
	width: 100%
}

.input_disabled_yes,.input_disabled_yes .input__control {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.input_disabled_yes .input__box,.input_disabled_yes .input__control {
	cursor: default
}

.input_theme_normal,.input_theme_normal .input__control {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #000
}

.input_disabled_yes.input_theme_normal .input__control {
	color: #aaa;
	-webkit-text-fill-color: #aaa
}

.input_theme_normal .input__control::-webkit-input-placeholder {
	color: #999
}

.input_theme_normal .input__control::-moz-placeholder {
	opacity: 1;
	color: #999
}

.input_theme_normal .input__control:-ms-input-placeholder {
	color: #999
}

.input_theme_normal .input__hint {
	color: #999
}

.input_theme_normal .input__box:before {
	border: 1px solid rgba(0,0,0,.2);
	background-color: #fff;
	background-clip: padding-box;
	-webkit-transition: .1s ease-out;
	transition: .1s ease-out;
	-webkit-transition-property: border-color,border-width,background-color;
	transition-property: border-color,border-width,background-color
}

.input_theme_normal.input_hovered_yes .input__box:before {
	border-color: rgba(0,0,0,.3)
}

.input_theme_normal.input_focused_yes .input__box:before {
	border: 2px solid #ffdb4d
}

.input_theme_normal.input_disabled_yes .input__box:before {
	border-width: 0;
	background-color: rgba(0,0,0,.08)
}

.input_theme_normal.input_type_textarea .input__box:before {
	-webkit-transition-property: border-color,border-width,top,left,right,bottom;
	transition-property: border-color,border-width,top,left,right,bottom
}

.font_loaded .input_theme_normal,.font_loaded .input_theme_normal .input__control {
	font-family: inherit
}

.input__box,.input__control {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.input__box {
	display: block;
	cursor: text
}

.input__box:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	content: '';
	background-clip: padding-box
}

.input__control {
	z-index: 3;
	width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-size: 100%;
	color: #000;
	border: 0 solid transparent;
	outline: 0;
	background: 0 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none
}

.input__control::-webkit-search-decoration {
	-webkit-appearance: none
}

.input__control::-webkit-search-cancel-button {
	display: none
}

.input__control::-ms-clear {
	display: none
}

.input__control:-webkit-autofill {
	border-top-width: 2px;
	border-bottom-width: 2px;
	background-clip: content-box;
	-webkit-box-shadow: inset 0 0 0 50px #fff;
	-webkit-text-fill-color: #000
}

.input__control::-webkit-input-placeholder {
	-webkit-text-fill-color: #999
}

.input__clear {
	position: absolute;
	z-index: 5;
	top: 0;
	right: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
	pointer-events: none;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: visibility 0s linear .1s,opacity .1s ease-out;
	transition: visibility 0s linear .1s,opacity .1s ease-out
}

.input_disabled_yes .input__clear,.input_theme_search .input__box:before {
	display: none
}


.input__clear_visibility_visible {
	visibility: visible;
	cursor: pointer;
	pointer-events: auto;
	opacity: .3;
	-webkit-transition: opacity .1s ease-out;
	transition: opacity .1s ease-out
}

.input__clear_visibility_visible:hover {
	opacity: .8
}

.input__ahead {
	position: absolute;
	z-index: 8;
	left: 0;
	display: none;
	height: 100%
}

.input_ahead-visible_yes .input__ahead {
	display: block
}

.input__ahead,.input__ahead-inner {
	width: 100%;
	overflow: hidden
}

.input__ahead-hint {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 36px;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	vertical-align: top;
	color: #999;
	border: solid transparent;
	border-width: 0 30px 0 13px;
	background: rgba(255,255,255,0);
	-webkit-appearance: none
}

.input__ahead-filler,.input__ahead-hintholder {
	position: absolute;
	visibility: hidden;
	white-space: pre
}

.input_ahead_yes .input__control {
	position: relative;
	z-index: 9
}

.input_ahead_yes .input__clear {
	z-index: 10
}

.input_keyboard-visibility_hidden .input__keyboard-button {
	opacity: 0;
	visibility: hidden
}



.b-opacity,.b-opacity-hold {
	opacity: .5
}

.b-opacity:hover,.i-ua_browser_touch .b-opacity {
	opacity: 1
}

.home-link {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	text-decoration: none;
	outline: none
}

.home-link:link,.home-link:visited,.home-link_pseudo_yes {
	cursor: pointer
}

.i-ua_browser_desktop .home-link {
	-webkit-transition: color .15s ease-out;
	transition: color .15s ease-out
}



html.utilityfocus .home-link:focus {
	outline: 2px solid #367F3B
}

.home-link_black_yes,.home-link_black_yes:visited {
	color: #000
}


.search2_type_2021 .search2__input {
	display: block
}

.search2_type_2021 .search2__button {
	display: block;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-left: -2px
}




.search2__placeholder {
	position: absolute;
	z-index: 1;
	top: -1px;
	left: 0;
	display: none;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding-left: 13px;
	font-size: 123.1%;
	opacity: .4;
	color: #000;
	pointer-events: none
}



.input_theme_search {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
	border-color: transparent;
	background: #fff;
	background-clip: content-box;
	color: #000
}

.button,.input_theme_search .input__box {
	position: relative;
	display: block
}

.input_theme_search .input__control {
	display: block;
	font-size: inherit;
	font-family: inherit;
	margin-top: -1px;
	margin-bottom: 1px
}


.button {
	display: inline-block;
	overflow: visible;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-moz-user-focus: ignore;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-decoration: none;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: 0 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-touch-action: manipulation;
	touch-action: manipulation
}

.button_disabled_yes {
	pointer-events: none
}

.button::-moz-focus-inner {
	padding: 0;
	border: 0
}

.button {
	cursor: pointer
}

.button_disabled_yes {
	cursor: default
}

.button {
	text-align: center
}

.button__text {
	margin-right: 5px;
	position: relative;
	display: inline-block;
	resize: none;
	pointer-events: none
}

.button_theme_search {
	height: 100%;
	font-family: inherit;
	font-weight: 400;
	background: #367F3B;
	color: #E5E5E5;
	font-size: 25px;
	-webkit-transition: background .1s linear;
	transition: background .1s linear
}

.button_theme_search.button_hovered_yes {
	background: #367F3B
}

.button_theme_search.button_pressed_yes {
	background: #367F3B
}

.button_theme_search .button__text {
	vertical-align: 2px
}

.input_size_search {
	font-size: 123.1%;
	border-width: 2px;
	border-radius: .625rem .375rem .375rem .625rem
}

.input_size_search .input__control {
	border-right-width: 40px;
	border-left-width: 11px
}

.input_size_search .input__clear {
	width: 2.25em;
	height: 100%;
	background-size: 1rem 1rem
}

.input_size_search .input__ahead {
	left: -2px
}

.input_size_search .input__ahead-hint,.input_size_search .input__control {
	height: 2.25em
}

.input_size_search .input__voice-search {
	width: 2.5rem;
	background-size: 1.5rem
}


.button_size_search {
	font-size: 123.1%;
	border-radius: 0 .625rem .625rem 0
}

.button_size_search .button__text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 1.125rem;
	min-width: 84px
}



.datetime {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 84.6%;
	white-space: nowrap
}

.datetime__flicker {
	opacity: .999;
	will-change: opacity
}

.datetime_time-hidden_yes .datetime__flicker {
	opacity: 0
}

.home-link2_color_gray,.home-link2_color_gray:visited {
	color: #999
}

.home-link2_hover_red {
	-webkit-transition: color .15s ease-out;
	transition: color .15s ease-out
}


.change-time {
	margin-top: 60px;
	margin-right: 80px
}

/* .change-time .link,.change-time .link:visited,body {
	color: #000
} */

.change-time__clock {
	font-size: 18px;
	margin-bottom: 4px
}

.change-time__message {
	font-size: 15px
}


.b-page_com .main {
	max-width: 900px
}

.main__item {
	vertical-align: middle
}

.main .search2-web {
	position: relative;
	max-width: none
}

.search2-web__input-cell {
	text-align: left
}

.search2-web__input-wrapper {
	position: relative
}

.arrow2_theme_websearch-button {
	min-width: 79px
}

.main__item__logo {
	width: 122px;
	text-align: right
}

.main-table {
	width: 100%
}

.search2-web {
	display: block
}

.main__item__tabs {
	padding-right: 69px;
	padding-bottom: 30px
}

.dump {
	margin-top: 100%
}

.b-menu__item-content {
	display: none
}

.b-menu__item-content_visibility_visible {
	display: block
}

.b-menu_layout_horiz .b-menu__list {
	display: inline-table;
	vertical-align: middle
}

.b-menu_layout_horiz .b-menu__gap,.b-menu_layout_horiz .b-menu__item {
	display: table-cell;
	vertical-align: middle
}

.b-menu__title {
	margin: 0;
	padding: 0;
	font-size: 100%
}

html {
	height: 100%
}

input {
	font: 13px Arial,Helvetica,sans-serif
}

body {
	font: .8em Arial,Helvetica,sans-serif;
	/* background: rgb(0, 0, 0); */
	margin: 0
}



.container__tabs .tabs {
	margin: 76px 0 4px 40px
}

.container__tabs .tabs__item-text {
	text-align: center
}


.popup {
	display: none;
	border: 1px solid transparent;
	position: absolute
}

.popup__content {
	position: relative;
	z-index: 10;
	height: 100%;
	margin: 0;
	padding: 4px 8px
}

.popup__under {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0
}


.b-disaster-popup {
	margin-top: 5px
}

.b-disaster-popup__img {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em
}

.b-disaster-popup__wrapper {
	max-width: 532px
}

.b-disaster-popup__title {
	font-size: 141%;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: .8em
}

.b-disaster-popup__subtitle {
	font-size: 125%;
	font-weight: 400;
	margin-top: .7em;
	margin-bottom: .7em
}

.b-disaster-popup__list {
	margin: .8em 0 .8em 1.8em
}



.b-line:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0
}

.b-line__cell_left {
	text-align: left
}

.b-line__cell_left,.b-line__cell_right {
	width: 25%;
	line-height: 31px
}

.b-line__cell_center {
	line-height: 31px;
	width: 50%;
	text-align: center
}

.b-line__cell_right {
	text-align: right
}

.b-line__top {
	position: relative;
	top: -20px;
	left: -30px;
	margin-right: -60px
}

.b-stripe {
	min-width: 815px;
	overflow: hidden;
	width: 100%
}

.b-stripe.closed {
	height: 0;
	position: relative;
	top: -100%
}

.b-stripe-wrapper {
	display: none;
	position: relative
}

.b-line__bar {
	position: relative;
	left: auto;
	right: auto;
	z-index: 1
}

.b-line__bar-left,.b-line__bar-right {
	width: 25%
}

.b-line__bar-center,.b-line__bar-left,.b-line__bar-right {
	line-height: 15px
}

.b-line__bar-center {
	width: 50%;
	text-align: center
}

.b-line__bar-right {
	text-align: right
}

.b-page_com .b-line__bar-center,.b-page_com .b-line__bar-left {
	width: 0
}

.b-page_com .b-line__bar-right {
	width: 100%
}

.b-sethome_show_bar .b-sethome__yasoft {
	display: inline-block
}

.b-sethome__yasoft,.b-sethome_show_bar .b-sethome__link {
	display: none
}




.b-line__bar-right .user .user__name {
	vertical-align: baseline;
	font-size: 13px
}

/* .b-line__bar-right .user.home-link,.popup.popup_domik_trigger .home-link {
	color: #000
} */

.b-line__bar-right .home-link.user {
	font-size: 12px
}


.b-ico {
	font: 0/0 a;
	border: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: -moz-inline-stack;
	display: inline-block
}

.langswitch,.redir-link {
	margin-right: 25px
}

/* .langswitch>.home-link {
	font-size: 85%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000
} */

.langswitch__popup {
	white-space: nowrap
}

.langswitch__popup .popup__content {
	margin: 15px 0
}

.langswitch__popup .langswitch__list .home-link {
	padding: 0 28px 0 34px;
	line-height: 2;
	display: block;
	/* color: #000 */
}



.b-line__center {
	top: 13%;
	padding: 0;
	margin-top: -20px
}




.mfooter__link:link,.mfooter__link:visited {
	color: #999
}
/* 
.discovery-promo,.discovery-promo:visited {
	color: #000
} */

.b-line__promo,.b-line__worldwide {
	position: absolute;
	text-align: center
}

.b-line__promo {
	top: 67%
}

.b-line__worldwide {
	bottom: 85px
}

.mobile-balloon {
	position: relative;
	z-index: 150;
	display: table;
	width: 100%;
	background-color: #e5e5e5;
	line-height: 120px;
	color: #272727;
	font-size: 40px
}

